import(jaspBase)
export(bfpackTTestIndependentSamples)
export(bfpackTTestPairedSamples)
export(bfpackTTestOneSample)
export(bfpackAnova)
export(bfpackAncova)
export(bfpackRegressionLinear)
export(bfpackCorrelation)
export(bfpackVariances)

