import(jaspBase)
export(BfpackTTestBayesianIndependentSamples)
export(BfpackTTestBayesianPairedSamples)
export(BfpackTTestBayesianOneSample)
export(BfpackAnovaBayesian)
export(BfpackAncovaBayesian)
export(BfpackRegressionLinearBayesian)
export(BfpackSemBayesian)
export(BfpackTTestBayesianIndependentSamplesInternal)
export(BfpackTTestBayesianPairedSamplesInternal)
export(BfpackTTestBayesianOneSampleInternal)
export(BfpackAnovaBayesianInternal)
export(BfpackAncovaBayesianInternal)
export(BfpackRegressionLinearBayesianInternal)
export(BfpackSemBayesianInternal)
