import(jaspBase)
export(BfpackTTestIndependentSamples)
export(BfpackTTestPairedSamples)
export(BfpackTTestOneSample)
export(BfpackAnova)
export(BfpackAncova)
export(BfpackRegressionLinear)
export(BfpackCorrelation)

